/* Originally made using resolution of: 1920px X 791px */

/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Titillium Web", serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --accent-color: #ab662a;
  --dark-color: #171a1c;
}

.container {
  width: 100%;
  overflow-x: hidden;
  background: linear-gradient(to right, #21211f, var(--dark-color));
}
/* End of Common Styles */



/* Menu - Hidden For Bigger Desktop Sizes */
.hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right .7s;
  display: none;
}

.change .hamburger-menu {
  right: 14rem;
  top: 2.5rem;
  position: fixed;
}

.line {
  width: 100%;
  height: .2rem;
  background-color: #fff;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
}

.change .line {
  background-color: rgba(255, 255, 255, 0.8);
}

.change .line-1 {
  transform: rotate(45deg) translate(.3rem, .8rem);
}

.change .line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .line-3 {
  transform: rotate(-45deg) translate(.3rem, -.8rem);
}

.hamburger-menu span {
  position: absolute;
  left: 5rem;
  width: 10rem;
  height: 4rem;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Titillium Web", serif;
  font-size: 1.6rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.change .hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu span::before {
  content: "";
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid var(--accent-color);
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -1.5rem;
  transform: translateY(-50%);
}
/* End of Menu - Hidden For Bigger Desktop Sizes */


/* Sidebar - Hidden For Bigger Desktop Sizes */
.sidebar {
  width: 40rem;
  height: 100Vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: grey;
  transition: right .5s;
  z-index: 100;
  display: none;
}

.change .sidebar {
  right: 0;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-item {
  text-align: center;
}

.menu-link {
  font-family: "Titillium Web", serif;
  font-size: 2.5rem;
  color: #ffffff;
  position: relative;
  margin-bottom: 2rem;
  transition: scale 0.5s;
}

.menu-link a:hover {
  transform: scale(3);
}

.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-media i {
  font-size: 2rem;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: var(--accent-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  border: none;
}

.social-media i:hover {
  box-shadow: .2rem .2rem .2rem rgba(255, 255, 255, 0.567);
}
/* End of Sidebar - Hidden For Bigger Desktop Sizes */


/* Main Navbar - Hidden For Smaller Screen Sizes */
.navbar {
  position: absolute;
  top: 4rem;
  right: 5%;
  z-index: 100;
}

.navbar-link {
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  margin: 0 3rem;
  color: white;
  transition: transform 0.5s;
  text-shadow: .4rem .4rem 1rem rgba(0, 0, 0, 0.917);
}

.navbar-link:hover {
  transform: scale(1.3);
}
/* End of Main Navbar - Hidden For Smaller Screen Sizes */


/* Section 1 Hero Page*/
.section-1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.section-1-header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .5;
  animation: scale 25s;
}

@keyframes scale {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.section-1-header {
  position: absolute;
  top: 30%;
  left: 15%;
}

.section-1-header h1 {
  font-family: "Titillium Web", serif;
  font-size: 9rem;
  font-weight: 600;
  color: #fff;
  width: 50%;
  line-height: 9rem;
  letter-spacing: .2rem;
  text-shadow: .8rem .8rem 1.5rem rgba(0, 0, 0, 0.917);
  opacity: 0;
  animation: moveSection-1 1s .5s forwards;
}

.section-1-header p {
  font-family: "Titillium Web", serif;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
  width: 70%;
  letter-spacing: .1rem;
  margin-bottom: 3rem;
  text-shadow: .8rem .8rem 1.5rem rgba(0, 0, 0, 0.917);
  opacity: 0;
  animation: moveSection-1 1s .7s forwards;
}

@keyframes moveSection-1 {
  0% {
    transform: translateY(40rem) rotateY(-20deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.section-1-btn a {
  color: white;
  text-decoration: none;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
}

.section-1-btn {
  width: 25rem;
  height: 6rem;
  background: linear-gradient(to right, #ca7c38, #a35816,#723c03);
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 5rem;
  border: none;
  text-shadow: 0 .3rem .5rem #171a1c;
  box-shadow: 0 .3rem .5rem #171a1c;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  animation: fadeAnimation 1s 1.5s forwards;
  position: relative;
  overflow: hidden;
}

.section-1-btn::before {
  content:"";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, #d3d1d1d5, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  transform: skewX(-30deg);
  transition: left 0.5s;
}

.section-1-btn:hover::before {
  left: 100%;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* End of Section 1 Hero Page */



/* Section 2 About Us */
.section-2 {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #21211f, var(--dark-color));
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.section-2-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

.section-heading {
  font-family: "Titillium Web", serif;
  font-size: 9rem;
  font-weight: 600;
  text-wrap: nowrap;
  /*text-decoration: underline var(--accent-color) 3px;*/
  /*text-underline-offset: 20px;*/
  color: #fff;
  line-height: 9rem;
  letter-spacing: .2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 4rem;
  text-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  text-transform: uppercase;
}

.vertical-underline-1,
.vertical-underline-2 {
  display: none;
  width: 0.3rem;
  height: 10rem;
  background-color: var(--accent-color);
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
}

.about-us-paragraphs {
  transition: transform 0.5s;
}

.about-us-paragraphs:hover {
  transform: scale(1.02);
  text-shadow: 2rem 2rem 4rem rgba(87, 71, 67, 0.806);
}

.section-2-about-us-1, 
.section-2-about-us-3 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  width: 50rem;
  height: auto;
}

.about-us-paragraphs b {
  font-size: 1.8rem;
}

.section-2-about-us-list {
  color: white;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  width: max-content;
  max-width: 100%;
  display: inline-block;
  list-style-position: inside;
}

.about-us-paragraphs li {
  color: white;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  padding-left: 4rem;
  width: 36rem;
}

.section-2-about-us-list ul li::before {
  content: '✓';
  color: var(--accent-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: left;
  position: absolute;
  left: 2rem;
}

ul li {
  position: relative;
}

.section-2-img-wrapper {
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
}

.section-2-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  transition: transform 0.5s;
  margin-top: 2.5rem;
  margin-left: 2rem;
  border-radius: 50%;
}

.section-2-img-wrapper:hover img {
  transform: scale(1.04);
}
/* End of Section 2 About Us */


/* Section 3 Services*/
.section-3 {
  width: 100%;
  max-height: 100dvh; 
  background: linear-gradient(to right, #21211f, var(--dark-color));
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-3-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 10rem 7rem;
  font-family: "Titillium Web", serif;
  font-size: 9rem;
  font-weight: 600;
  text-wrap: nowrap;
  text-decoration: underline var(--accent-color) 3px;
  text-underline-offset: 20px;
  color: #fff;
  line-height: 9rem;
  letter-spacing: .2rem;
  text-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  text-transform: uppercase;
}

.services {
  width: 100%;
  max-width: 1900px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
  justify-content: center;
  align-content: center;
  padding-left: 7.5rem;
}

.service {
  width: 100%;
}

.service-header {
  text-align: center;
}

.service:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
  text-wrap: nowrap;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
  text-wrap: nowrap;
}

.service:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
  text-wrap: nowrap;
}

.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
  padding-left: 10rem;
  text-wrap: nowrap;
}

.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
  padding-left: 10rem;
  text-wrap: nowrap;
}

.service:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
  padding-left: 10rem;
  text-wrap: nowrap;
}

.service-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.service-header i {
  font-size: 4rem;
  color: var(--accent-color);
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.service-header h3 {
  font-family: "Titillium Web", serif;
  color: #ffffff;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}

.service-text {
  font-family: "Titillium Web", serif;
  font-size: 1.6rem;
  text-align: justify;
}

.section-3-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 2 / 6;
  width: 100%;
}

.section-3-img-wrapper img {
  width: 475px;
  height: 475px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 50%;
  margin-top: -9rem;
  box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  transition: transform 0.5s;
}

.section-3-img-wrapper:hover img {
  transform: scale(1.04);
}

/* End of Section 3 Services */


/* Footer */
.footer {
  width: 100%;
  height: 15rem;
  background: linear-gradient(to right, #21211f, var(--dark-color));
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-contact-us i {
  font-size: 2rem;
  color: #ffffff;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
  transition: transform 0.5s;
}

.footer-contact-us:hover i {
  transform: scale(1.3);
}

.footer-contact-us span {
  font-family: "Titillium Web", serif;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  padding-left: 1rem;
  text-align: center;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
}

.copyright {
  font-family: "Titillium Web", serif;
  font-size: 1.4rem;
  color: #ffffff;
  margin: 0 2rem;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
}

.social-list i {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 2rem;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
  transition: transform 0.5s;
}

.social-list:hover i {
  transform: scale(1.3);
}

.social-list span {
  font-size: 1.5rem;
  color: #ffffff;
  padding-left: 1rem;
  text-align: center;
  text-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
}
/* End of Footer */



/* Fixed Scroll Up Button */
#scrollUpBtn,
.scroll-btn {
    position: fixed;
    right: 8rem;
    bottom: 7rem;
    width: 4.5rem;
    height: 4.5rem;
    background: linear-gradient(to right, #ab662a, #a65813);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
    border: none;
    text-shadow: 0 .3rem .5rem #171a1c;
    box-shadow: 0 .3rem .5rem #171a1c;
    border-radius: 5rem;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
    box-shadow: .25rem .25rem .9rem rgba(0, 0, 0, 0.917);
  }

  .scroll-btn::before {
    content:"";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #d3d1d1d5, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
  }
  
  .scroll-btn:hover::before {
    left: 100%;
  }
/* End of Fixed Scroll Up Button */








/* Responsive Breakpoints */

/* Portrait Mobile Responsiveness */

@media (min-width: 320px) {
  html {
    font-size: 40%;
  }

  .navbar {
    display: none;
  }

  .hamburger-menu {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s;
  }

  .change .line-1 {
    transform: rotate(45deg) translate(.55rem, 1.255rem);
  }
  
  .change .line-3 {
    transform: rotate(-45deg) translate(.55rem, -1.255rem);
  }

  .change .hamburger-menu {
    right: 20rem;
    top: 4.5rem;
    position: fixed;
  }
  
  .hamburger-menu span {
    position: absolute;
    left: 5rem;
    width: 5rem;
    height: 2rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Titillium Web", serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
  }
  
  .sidebar {
    width: 30rem;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: var(--dark-color);
    opacity: .89;
    transition: right .5s;
    z-index: 100;
    display: block;
  }

  .menu-item {
    font-family: "Titillium Web", serif;
    font-size: 4.5rem;
    color: #ffffff;
    text-wrap: nowrap;
    text-transform: uppercase;
    position: relative;
    margin-bottom: .5rem;
    transition: scale 0.5s, color 0.5s;
  }

  .menu-item:hover {
    transform: scale(1.2);
  }
  
  .change .sidebar {
    right: 0;
  }

  .social-media i {
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    padding-top: .25rem;
    justify-content: space-evenly;
    text-align: center;
  }

  .section-heading {
    padding-left: 15rem;
  }

  /* 320px Section 1 Hero Page */
  .section-1-header h1 {
    padding-top: 3rem;
    font-size: 5.9rem;
    line-height: 5.9rem;
  }

  .section-1-header p {
    font-size: 2.85rem;
    line-height: 2.85rem;
  }

  .section-1-header button {
    font-size: 2.5rem;
  }
  /* End of 320px Section 1 Hero Page */

  /* 320px Section 2 About Us Page */
  .section-2 {
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    padding-bottom: 5rem;
    padding-top: 5.5rem;
  }

  .section-2-content {
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 2rem;
    align-items: center;
    gap: 4rem; /* optional spacing between elements */
    text-align: center;
  }

  .vertical-underline-1, 
  .vertical-underline-2 {
    display: none;
  }

  .section-heading {
    text-decoration: underline var(--accent-color) 3px;
    text-underline-offset: 17px;
    font-size: 6rem;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 3.5rem;
    display: block;
    transform: translateX(-1rem);
  }

  .section-2-about-us-1,
  .section-2-about-us-3,
  .section-2-about-us-list {
    width: 100%;
    max-width: 100%;
    word-break: break-word;
    text-align: left;
}

  .section-2-img-wrapper {
    max-width: 25rem;
    margin-top: -4rem;
    transform: translateX(-3rem);
    z-index: 50;
  }
  /* End of 320px Section 2 About Us Page */

  /* 320px Section 3 Our Servies Page */
  .section-3 {
    padding-top: 20rem;
    padding-bottom: 15rem;
    background: linear-gradient(to right, #21211f, var(--dark-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-8rem);
    margin-bottom: 0;
  }

  .section-3-heading {
    font-size: 6rem;
    text-align: center;
    text-decoration: underline var(--accent-color) 3px;
    text-underline-offset: 15px;
    color: #fff;
    text-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
    margin-bottom: 0rem;
    padding-bottom: 4rem;
    transform: translateX(-3.5rem);
  }

  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .service {
    display: flex;
    align-items: center;
    gap: 0rem;
    padding-left: 0rem;
  }

  .service-header {
    margin-bottom: 0rem;
  }

  .service-header i {
    font-size: 3.5rem;
    color: var(--accent-color);
  }

  .service-header h3 {
    font-size: 2.8rem;
    color: white;
    font-weight: 400;
  }

  .service:nth-child(4),
  .service:nth-child(5),
  .service:nth-child(6) {
    padding-left: 0rem;
  }

  .section-3-img-wrapper {
    max-width: 25rem;
    aspect-ratio: 1 / 1;
   margin-bottom: 10rem;
    transform: translateX(3rem);
    z-index: 50;
  }
  
  .section-3-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
    transition: transform 0.5s;
    margin-top: 2.5rem;
    margin-left: 2rem;
    border-radius: 50%;
  }
  
  .section-3-img-wrapper:hover img {
    transform: scale(1.04);
  }
  /* End of 320px Section 3 Our Servies Page */

  /* 320px Footer & Scroll Button */
  .footer-content {
    flex-direction: column;
  }

  .footer-contact-us i {
    margin: 1rem 0;
  }
  
  .footer-contact-us span {
    margin: 1rem 0;
  }
    
  .copyright {
    margin-top: 1.5rem;
    margin-bottom: 1.8rem;
    margin-left: 15vw;
  }

  #scrollUpBtn,
  .scroll-btn {
    right: 4.5rem;
    bottom: 4.5rem;
    width: 5.5rem;
    height: 5.5rem;
  }
  /* End of 320px Footer & Scroll Button */
  }


  @media (min-width: 360px) {
    html {
      font-size: 48%;
    }

    .section-1-header h1 {
      padding-top: 5rem;
    }


    .section-2-header-wrapper {
      transform: translateX(-1rem);
    }

    .section-2-content {
      transform: translateX(-1.5rem);
    }
  }

  @media (min-width: 390px) {
    .section-1-header h1 {
      padding-top: 4.5rem;
    }

    .section-2-content {
      transform: translateX(0.5rem);
    }
  }

  @media (min-width: 412px) {
    html {
      font-size: 54.5%;
    }

    .section-2-content {
      transform: translateX(-1rem);
    }

    .section-heading {
      padding-bottom: 2rem;
    }
  }

  @media (min-width: 430px) {
    .section-2-content {
      transform: translateX(0rem);
    }

    .section-heading {
      padding-bottom: 2.5rem;
    }
  }
  /* End of Portrait Mobile Responsiveness */



 /* Landscape Mobile Responsiveness */
  @media (min-width: 568px) {
    html {
      font-size: 45%;
    }

    .menu-item {
      font-size: .25rem;
    }

    .menu-link {
      font-size: 1.75rem;
    }

    .section-1-header h1 {
      margin-top: -7rem;
    }

    .section-1-header p {
      margin-bottom: 1rem;
    }

    .section-2 {
      padding-top: 3.5rem;
      padding-bottom: 30rem;
    }

    .section-2-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0rem;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
      box-sizing: border-box;
    }

    .section-2-content p, 
    .section-2-content ul li {
      font-size: 1.25rem;
    }
  
    .vertical-underline-1,
    .vertical-underline-2 {
      height: auto;
      align-self: stretch;
    }
  
    .about-us-paragraphs {
      flex: 2;
      max-width: 55%;
      box-sizing: border-box;
    }
  
    .section-2-img-wrapper {
      flex: 1;
      max-width: 25rem;
      box-sizing: border-box;
      margin-top: -1rem;
      transform: translateY(2rem);
    }
  }

/* End of Landscape Mobile & Tablet Responsiveness */


/* Tablet (Portrait & Landscape) & Laptop Responsiveness */
@media (min-width: 768px) and (min-height: 1024px) {
  html {
    font-size: 72.5%;
  }

  .menu-item {
    font-size: 1rem;
  }

  .menu-link {
    font-size: 2.75rem;
  }

  .section-2 {
    padding-left: 2.5rem;
    padding-right: 7.5rem;
    padding-bottom: 0rem;
  }

  .section-1-header h1 {
    padding-top: 12.5rem;
  }

  .section-heading {
    transform: translateX(1.5rem) 
  }

  .section-2-img-wrapper {
    flex: 1;
    max-width: 25rem;
    box-sizing: border-box;
    margin-top: -1rem;
    transform: none;
  }

  .section-2-img-wrapper img {
    transform: translateX(3.5rem) translateY(3rem);
  }
}

@media (min-width: 851px) and (min-height: 393px) {
  html {
    font-size: 42.5%;
  }

  .section-1-header {
    padding-top: 4rem;
  }

  .section-2 {
    padding-bottom: 15rem;
  }

  .section-heading {
    padding-bottom: 4rem;
  }

  .section-2-content {
    padding: 0 4rem;
    padding-left: 7rem;
  }

  .section-2-content p, 
  .section-2-content ul li {
    font-size: 2rem;
  }

  .section-2-img-wrapper {
    max-width: 40rem;
  }

  .section-2-img-wrapper img {
    transform: translateY(-.5rem);
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 42.5%;
  }

  .navbar {
    position: absolute;
    top: 4rem;
    right: 5%;
    z-index: 100;
    display: block;
  }
  
  .navbar-link {
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    margin: 0 2rem;
    color: white;
    transition: transform 0.5s;
    text-shadow: .4rem .4rem 1rem rgba(0, 0, 0, 0.917);
  }
  
  .navbar-link:hover {
    transform: scale(1.3);
  }

  .hamburger-menu {
    visibility: hidden;
  }

  .sidebar {
    visibility: hidden;
  }

  .section-1-header h1 {
    padding-top: 12rem;padding-bottom: 1.5rem;
  }

  .section-1-header p {
    padding-bottom: 1rem;
  }

  .section-2 {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 12rem;
    gap: 4rem;
  }

  .section-2-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: max-content;
    transform: translateX(-1rem);
    padding-left: 1rem;
  }

  .vertical-underline-1,
  .vertical-underline-2 {
    display: block;
    width: 0.3rem;
    height: 20rem;
    background-color: var(--accent-color);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  }

  .vertical-underline-1 {
    margin-right: 4rem;
  }

  .vertical-underline-2 {
    margin-left: 2rem;
  }

  .section-heading {
    margin: 0;
    padding: 0 1rem; /* tighten spacing */
    font-size: 7rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
    white-space: nowrap;
  }

  .section-2-content {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .about-us-paragraphs {
    flex: 2;
    min-width: 45rem;
    color: white;
    font-size: 2.5rem;
    padding-right: 0;
  }

  .about-us-paragraphs b {
    color: white;
    font-size: 3rem;
    padding-right: 0;
  }

  .section-2-img-wrapper {
    width: 100%;
    max-width: 100rem;
    transform: translateY(10rem) translateX(-1rem);;
    aspect-ratio: 1 / 1;
    display: block;
  }

  .section-2-img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}

  .section-3 {
    padding-top: 20rem;
  }
}


@media (min-width: 1280px) {
  html {
    font-size: 52.5%;
  }

  .section-1-header {
    padding-top: 2rem;
  }
}

@media (min-width: 1366px) {
  .navbar {
    visibility: hidden;
  }

  .hamburger-menu {
    visibility: visible;
  }

  .sidebar {
    visibility: visible;
  }

  .section-1-header {
    padding-top: 0rem;
  }

  .section-1-header h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
  }

  .section-1-header p {
    font-size: 3.5rem;
    text-wrap: nowrap;
    padding-top: 0;
  }

  .section-2 {
    height: 100vh;
    padding-top: 15rem;
    padding-bottom: 5rem;
  }

  .section-2-header-wrapper {
    transform: translateY(-7rem) translateX(-1rem);
  }

  .section-2-content {
    transform: translateX(2rem) translateY(-5rem);
  }

  .section-2-img-wrapper {
    max-width: 40rem;
    transform: translateY(6rem) translateX(-2rem);;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 62.5%;
  }

  .section-1-header {
    padding-top: 2rem;
  }

  .section-2-img-wrapper {
    max-width: 40rem;
    transform: translateY(8rem) translateX(-2rem);;
  }
}
/* End of Tablet (Portrait & Landscape) & Laptop Responsiveness */


/* Monitor & Desktop Responsiveness */
@media (min-width: 1920px) {
  .navbar {
    display: block;
    visibility: visible;
  }

  .navbar-link {
    font-size: 3.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .sidebar {
    visibility: hidden;
  }

  .hamburger-menu {
    visibility: hidden;
  }

  .section-1-header h1 {
    font-size: 10rem;
    line-height: 10rem;
    padding-bottom: 1rem;
  }

  .section-1-header p {
    font-size: 5rem;
    text-wrap: wrap;
    max-width: 55rem;
    line-height: 5rem;
    padding-bottom: 1.5rem;
  }

  .section-1-header button {
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }

  .section-1-btn {
    width: 35rem;
    height: 9rem;
  }

  .section-2-header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: max-content;
    transform: translateY(-5rem) translateX(-2rem);
  }

  .vertical-underline-1,
  .vertical-underline-2 {
    display: block;
    width: 0.3rem;
    height: 20rem;
    background-color: var(--accent-color);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.917);
  }

  .vertical-underline-1 {
    margin-right: 2rem;
  }

  .vertical-underline-2 {
    margin-left: 4rem;
  }

  .section-heading {
    margin: 0;
    padding: 0 1rem;
    font-size: 9rem;
    font-weight: 600;
  }

  .section-2-content {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
  }

  .about-us-paragraphs {
    flex: 2;
    min-width: 30rem;
    color: white;
    font-size: 2.5rem;
    padding-right: 0;
  }

  .about-us-paragraphs b {
    color: white;
    font-size: 3rem;
    padding-right: 0;
  }

  .section-2-img-wrapper {
    width: 100%;
    max-width: 75rem;
    transform: translateY(0rem) translateX(-2rem);
    aspect-ratio: 1 / 1;
    display: block;
  }

  .section-2-img-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
}
}

@media (min-width: 2100px) {
  .navbar-link {
    font-size: 3.5rem;
    margin: 0 2.75rem;
  }

  .section-1-header h1 {
    padding-top: 8.5rem;
  }

  .section-1-header h1 {
    font-size: 9rem;
    line-height: 9rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
  }

  .section-1-header p {
    font-size: 5rem;
    line-height: 5rem;
    text-wrap: nowrap;
  }

  .section-2 {
   height: 100vh;
  }
  
  .vertical-underline-1 {
    margin-right: 5rem;
  }

  .section-2-header-wrapper {
    transform: translateX(4rem) translateY(-6rem);
  }
  
  .section-2-img-wrapper img {
    margin-top: -1rem;
    margin-left: 8rem;
    max-width: 75rem;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 2560px) and (min-height: 1440px) {
  html {
    font-size: 72.5%;
  }

  .navbar-link {
    font-size: 4rem;
    margin: 0 2.75rem;
  }

  .section-1-header {
    padding-top: 15rem;
  }

  .section-1-header h1 {
    font-size: 9rem;
    line-height: 9rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
  }

  .section-1-header p {
    font-size: 5rem;
    line-height: 5rem;
    text-wrap: nowrap;
  }

  .section-1-header button {
    font-size: 4.5rem;
  }

  .section-1-btn {
    width: 40rem;
    height: 10rem;
  }

  .section-2-header-wrapper {
    transform: translateX(5rem);
  }

  .vertical-underline-1 {
    margin-right: 0rem;
  }

  .section-heading {
    font-size: 12rem;
  }

  .vertical-underline-1,
  .vertical-underline-2 {
    width: 0.75rem;
    height: 25rem;
  }

  .section-2-content {
    transform: translateY(1.5rem);
    padding: 0;
  }

  .about-us-paragraphs p {
    min-width: 50rem;
    font-size: 3rem;
    padding-left: 0;
    margin-left: 0;
  }

  .about-us-paragraphs b {
    color: white;
    font-size: 3rem;
    padding-right: 0;
  }

  .about-us-paragraphs ul li {
    min-width: 50rem;
    font-size: 2.5rem;
    padding-left: 5rem;
  }

  .section-2-about-us-list ul li::before {
    content: '✓';
    color: var(--accent-color);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    position: absolute;
  
  }

  .section-2-img-wrapper {
    width: 100%;
    max-width: 105rem;
    transform: translateY(14.5rem) translateX(-1rem);
    aspect-ratio: 1 / 1;
    display: block;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 102.5%;
  }

  .section-1-header {
    padding-top: 16rem;
  }

  .section-1-header h1 {
    font-size: 10rem;
    line-height: 10rem;
    padding-bottom: 1rem;
    text-wrap: nowrap;
  }

  .section-1-header p {
    font-size: 5.75rem;
    line-height: 5.75rem;
    text-wrap: nowrap;
  }

  .section-2-header-wrapper {
    transform: translateX(3rem);
  }

  .section-2-content {
    transform: translateX(-3.5rem);
    padding: 0;
  }

  .about-us-paragraphs {
    flex: 2;
    box-sizing: border-box;
  }

  .about-us-paragraphs b {
    font-size: 3.5rem;
  }

  .about-us-paragraphs p {
    transform: translateX(-20rem);
    min-width: 60rem;
  }

  .about-us-paragraphs li {
    color: white;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    padding-left: 1rem;
    transform: translateX(-20rem);
  }

  .section-2-img-wrapper {
    transform: translateY(7.5rem) translateX(-5rem);
  }

  .section-2-img-wrapper img {
    width: 200%;
  }
}

@media (min-width: 5120px) {
  html {
    font-size: 132.5%;
  }

  .navbar-link {
    margin: 2rem 3rem;
  }

  .section-1-header h1 {
    padding-top: 5rem;
  }

  .section-2-header-wrapper {
    transform: translateX(3rem);
  }

  .section-2-content {
    transform: translateX(1.5rem);
  }

  .about-us-paragraphs p {
    transform: translateX(-40rem);
  }

  .about-us-paragraphs li {
    transform: translateX(-40rem);
  }

  .section-2-img-wrapper {
    transform: translateY(1rem) translateX(-17rem);
  }

  .section-2-img-wrapper img {
    width: 400%;
  } 
}
/* End of Monitor & Desktop Responsiveness */
/* End of Responsive Breakpoints */




